@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 20px;
}

@layer base {
  body {
    @apply mx-auto bg-[#fff] text-[#21222D] selection:bg-[gold];
  }

  .gold {
    color: #eac802;
  }

  .bannerTwoText {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1.5px #fff;
  }

  .effect {
    position: relative;
    padding-bottom: 3px;
  }

  .effect:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.2s ease, background-color 0.2s ease, left 0.2s ease;
  }

  .effect:hover:after {
    width: 100%;
    left: 0;
    background: #21222d;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 260px;
    z-index: 1;
    align-items: center;
    box-shadow: 1px 1px 10px #d6cacacc;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .feed-item {
    @apply flex h-52 w-52 items-center justify-center overflow-hidden hover:opacity-60 sm:h-60 sm:w-60 lg:h-52 lg:w-52 xl:h-64 xl:w-64;
  }

  .swiper-button-next {
    background-image: url("/images/icons/chevron-right.png");
  }

  .swiper-button-prev {
    background-image: url("/images/icons/chevron-left.png");
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply mx-4 !hidden bg-center bg-no-repeat opacity-0 group-hover:opacity-40 md:!block;
    background-size: 100% auto;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-pagination-bullet {
    @apply !mx-1.5 !h-1 !w-5 !rounded-none !bg-gray-900;
  }

  .custom-preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .custom-preloader__spinner {
      @apply animate-spin;
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3490dc;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }

  /* .custom {
    @apply [&>*:first-child]:lg:col-span-2 [&>*:first-child]:lg:row-span-2 [&>*:first-child]:lg:h-[420px] [&>*:first-child]:lg:w-[420px] [&>*:first-child]:xl:h-[516px] [&>*:first-child]:xl:w-[516px];
  } */
}
