@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fff] text-[#21222D] selection:bg-[gold];
  }

  .gold {
    color: #eac802;
  }

  .spinnerOne {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-top: 3px solid gold;
    border-left: 3px solid gold;
    border-right: 3px solid white;
    animation: spin 0.575s infinite linear;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .effect {
    position: relative;
    padding-bottom: 3px;
  }

  .effect:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.2s ease, background-color 0.2s ease, left 0.2s ease;
  }

  .effect:hover:after {
    width: 100%;
    left: 0;
    background: #21222d;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 260px;
    z-index: 1;
    align-items: center;
    box-shadow: 1px 1px 10px #d6cacacc;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  /* .instagram-gallery {
    @apply relative grid grid-cols-2 flex-wrap justify-center gap-1 md:grid-cols-3 lg:grid-cols-4;
  }

  .instagram-item:first-child {
    @apply lg:col-span-2 lg:row-span-2 lg:h-[420px] lg:w-[420px] xl:h-[516px] xl:w-[516px];
  }

  .instagram-item:nth-child(12) {
    @apply lg:col-span-2 lg:row-span-2 lg:h-[420px] lg:w-[420px] xl:h-[516px] xl:w-[516px];
  }

  .instagram-item {
    @apply relative block sm:h-60 sm:w-60 lg:h-52 lg:w-52 xl:h-64 xl:w-64;
  }

  .instagram-item:hover {
    @apply opacity-60;
  }

  .instagram-image {
    @apply block h-full w-full object-cover;
  }

  .pagination {
    @apply font-poppins absolute -bottom-20 left-1/2 flex -translate-x-1/2 justify-center space-x-10 rounded border border-gray-800 bg-gray-800 px-10 py-2 text-white;
  } */

  .feed-item {
    @apply flex h-52 w-52 items-center justify-center overflow-hidden hover:opacity-60 sm:h-60 sm:w-60 lg:h-52 lg:w-52 xl:h-64 xl:w-64;
  }

  /* .custom {
    @apply [&>*:first-child]:lg:col-span-2 [&>*:first-child]:lg:row-span-2 [&>*:first-child]:lg:h-[420px] [&>*:first-child]:lg:w-[420px] [&>*:first-child]:xl:h-[516px] [&>*:first-child]:xl:w-[516px];
  } */
}
