@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fff] text-[#21222D] selection:bg-[gold];
    /* #F0F8F6 */
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .poppins {
    font-family: "Poppins", sans-serif;
  }

  .josefin {
    font-family: "Josefin Sans", sans-serif;
  }

  .lora {
    font-family: "Lora", serif;
  }

  .cormorant {
    font-family: "Cormorant Garamond", serif;
  }

  .playfair {
    font-family: "Playfair Display", serif;
  }

  .gold {
    color: #eac802;
  }

  .effect {
    position: relative;
    padding-bottom: 3px;
  }

  .effect:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.2s ease, background-color 0.2s ease, left 0.2s ease;
  }

  .effect:hover:after {
    width: 100%;
    left: 0;
    background: #21222d;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 260px;
    z-index: 1;
    align-items: center;
    box-shadow: 1px 1px 10px #d6cacacc;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }

  .burger::before {
    transform: translateY(-16px);
  }

  .burger::after {
    transform: translateY(16px);
  }

  .menu-btn.open .burger {
    transform: translateX(-50px);
    background: transparent;
  }

  .menu-btn.open .burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .instagram-gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .instagram-item {
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
  }
  .instagram-item:hover {
    opacity: 0.6;
  }

  .instagram-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 480px) {
    .instagram-gallery {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .instagram-item {
      width: 200px;
      height: 200px;
      display: block;
      position: relative;
    }
  }

  @media (max-width: 399px) {
    .instagram-gallery {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 5px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .instagram-item {
      width: 180px;
      height: 180px;
      display: block;
      position: relative;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .instagram-gallery {
      display: grid;
      grid-template-columns: auto auto;
      /* grid-gap: 10px; */
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 768px) and (max-width: 999px) {
    .instagram-gallery {
      display: grid;
      grid-template-columns: auto auto auto;
      /* grid-gap: 10px; */
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .sliderBg {
    /* background-image: url("https://media0.giphy.com/media/b846nuotC8uUiDWzGu/giphy.gif?cid=790b761195b8deb3dcec6618b4ddcc96ade0bd1dc3fcb072&rid=giphy.gif&ct=g"); */
    /* background-image: url("https://static.wixstatic.com/media/3814a6_0a0ae0ed2d6c4c4eb20dc1d5244f22b3~mv2.gif"); */
  }
}
